{{user=userEditPassword.user;""}}

{{patterns=userEditPassword.patterns;""}}

<div>
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <h2 class="md-title">Change password for user</h2>
    </div>
  </md-toolbar>

  <md-content layout-padding>

    <p>User Id: {{user.UserId}}</p>
    <p>Username: {{user.Username}}</p>
    <p>Firstname: {{user.Firstname}}</p>
    <p>Lastname: {{user.Lastname}}</p>
    <p>Date of birth: {{user.DateOfBirth | date:'dd/MM/yyyy'}}</p>
    <p>Email: {{user.Email}}</p>
    <p>Phone: {{user.Phone}}</p>
    <p>Mobile: {{user.Mobile}}</p>

    <form name="form" novalidate ng-submit="userEditPassword.edit()">

      <md-input-container>
        <input name="Password" type="password" placeholder="Password" ng-model="user.Password" ng-required="true" ng-pattern="patterns.passwordPattern">
        <div ng-messages="form.Password.$error" class="error-label">
          <div ng-message="required">Your password is required.</div>
          <div ng-message="pattern">Your password must be at least 8 characters long, contain at least an upper case letter and a number.</div>
        </div>
      </md-input-container>

      <div layout="row">
        <md-button href="/" class="md-raised">Cancel</md-button>
        <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid">Save</md-button>
      </div>

    </form>
  </md-content>

</div>