<div>
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <h2 class="md-title">Check username and password</h2>
    </div>
  </md-toolbar>

  <md-content layout-padding>

    <form name="form" novalidate ng-submit="userLogin.login()">

      <md-input-container>
        <input name="Username" type="text" placeholder="Username" ng-model="userLogin.credentials.Username" ng-required="true">
        <div ng-messages="form.Username.$error" class="error-label">
          <div ng-message="required">Your username is required.</div>
        </div>
      </md-input-container>

      <md-input-container>
        <input name="Password" type="password" placeholder="Password" ng-model="userLogin.credentials.Password" ng-required="true">
        <div ng-messages="form.Password.$error" class="error-label">
          <div ng-message="required">Your password is required.</div>
        </div>
      </md-input-container>

      <div layout="row">
        <md-button href="/" class="md-raised">Cancel</md-button>
        <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid">Check</md-button>
      </div>

    </form>
  </md-content>

</div>